<a href="https://colab.research.google.com/github/ffelipeaom/freeCodeCamp-python-pandas-numpy/blob/main/fCC_demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [292]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/adult.data.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
df["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [5]:
race_count = pd.Series([sum(df["race"] == "White"),
                        sum(df["race"] == "Black"),
                        sum(df["race"] == "Asian-Pac-Islander"),
                        sum(df["race"] == "Amer-Indian-Eskimo"),
                        sum(df["race"] == "Other")],
                        index=['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'])
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

# What is the average age of men?

In [6]:
#checking data consistency from sex column
df["sex"].unique()
#df.nunique()
#average_age_men

array(['Male', 'Female'], dtype=object)

In [7]:
average_age_men = round(np.average(df["age"][df["sex"] == "Male"]), 2)
average_age_men

39.43

# What is the percentage of people who have a Bachelor's degree?

In [8]:
#df["education"].count()
#np.count_nonzero(df.education[df.education == "Bachelors"])
percentage_bachelors = round((np.count_nonzero([df["education"] == "Bachelors"]) / len(df["education"]))*100, 2)

#percentage_bachelors = round((np.count_nonzero(df.education[df["education"] == "Bachelors"]) / df["education"].count())*100, 2)
percentage_bachelors

16.45

# What percentage of people with advanced education make more than 50K?
    (`Bachelors`, `Masters`, or `Doctorate`)

In [9]:
df["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [10]:
df_adv_edu = df[(df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")]
#df_adv_edu
higher_education = round(((np.count_nonzero(df_adv_edu["salary"] == ">50K")) / (len(df_adv_edu)))*100,2)       
#higher_education = round(((np.count_nonzero(df_adv_edu["salary"] == ">50K")) / (np.count_nonzero(df_adv_edu["education"])))*100,2)                                   
higher_education

46.54

# What percentage of people without advanced education make more than 50K?

In [11]:
df_non_adv_edu = pd.concat([df, df_adv_edu]).drop_duplicates(keep=False)

#lower_education = round(((np.count_nonzero(df_non_adv_edu["salary"] == ">50K")) / (np.count_nonzero(df_non_adv_edu["education"])))*100,2)
lower_education = round(((np.count_nonzero(df_non_adv_edu["salary"] == ">50K")) / (len(df_non_adv_edu)))*100,2)
lower_education

17.38

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [12]:
min_work_hours = np.min(df["hours-per-week"])
#df["hours-per-week"].idxmin()
#df.iloc[[189]]
min_work_hours

1

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [13]:
np.count_nonzero(df["hours-per-week"] == min_work_hours)

20

In [ ]:
#df_num_min_workers = df[(df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours)]
df_num_min_workers = df[df["hours-per-week"] == min_work_hours]
df_num_min_workers

In [15]:
np.count_nonzero((df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours))
#np.count_nonzero(df["salary"][(df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours)])

2

In [16]:
num_min_workers = round((np.count_nonzero(df_num_min_workers["salary"] == ">50K") / len(df_num_min_workers))*100,2)
#num_min_workers = round(((np.count_nonzero((df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours))) / (np.count_nonzero(df["hours-per-week"] == min_work_hours)))*100,2)
num_min_workers

10.0

# What country has the highest percentage of people that earn >50K?

In [ ]:
df.head()

In [70]:
#loops? i dont think so
#df_us = df[df["native-country"] == "United-States"]
#np.count_nonzero(df_us["salary"] == ">50K") / len(df_us)

0.24583476174151525

In [ ]:
df_richest = df[["native-country", "salary"]].query('salary == ">50K"').groupby("native-country").count()
df_richest.head()

##   one way

In [267]:
richest = round((df_richest["salary"] / (df.groupby("native-country")["salary"].count()))*100,2).sort_values(ascending = False)
highest_earning_country_percentage = richest.max()
highest_earning_country = richest.idxmax()

print(highest_earning_country, highest_earning_country_percentage)

#df[["native-country", "salary"]].query('salary == ">50K"').groupby("native-country")["salary"].count()

Iran 41.86

##   by creating a salary/country df

In [ ]:
#optional dataframe creation route
df_richest.rename(columns = {"salary":">50K"},inplace = True)
df_richest.head()

In [ ]:
df_poorest = df[["native-country", "salary"]].query('salary == "<=50K"').groupby("native-country").count()
df_poorest.rename(columns = {"salary":"<=50K"},inplace = True)
df_poorest.head()

In [ ]:
df_countries_salary = df_richest.merge(df_poorest, on = "native-country", how = "left")
df_countries_salary.head()

In [246]:
#df_countries_salary["total"] = df_countries_salary[">50K"] + df_countries_salary["<=50K"]
df_countries_salary["%_of_rich"] = round((df_countries_salary[">50K"] / (df_countries_salary[">50K"] + df_countries_salary["<=50K"]))*100,2)
df_countries_salary.sort_values(by=["%_of_rich"], ascending = False).head(1)

#print(df_countries_salary["%_of_rich"].max(), df_countries_salary["%_of_rich"].idxmax())

                >50K  <=50K  %_of_rich
native-country
Iran              18     25      41.86

In [ ]:
#df.groupby("native-country")["salary"].count()
#df_countries_salary["%_of_rich"] = round((df_countries_salary[">50K"] / (df_countries_salary[">50K"] + df_countries_salary["<=50K"]))*100,2)

In [ ]:
#df_countries_salary[">50K"] + df_countries_salary["<=50K"]
#df.groupby("native-country")["salary"].count()
#round((df_countries_salary[">50K"] / (df.groupby("native-country")["salary"].count()))*100,2).sort_values(ascending = False).idxmax()

# Identify the most popular occupation for those who earn >50K in India.

In [355]:
df.rename(columns = {"native-country":"native_country"},inplace = True)
#df.rename(columns = {"native_country":"native-country"},inplace = True)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [358]:
top_IN_occupation = df[(df.native_country == "India") & (df.salary == ">50K")]["occupation"].value_counts().idxmax()
top_IN_occupation

#np.count_nonzero(df_india["salary"] == ">50K") / len(df_us)

'Prof-specialty'