<a href="https://colab.research.google.com/github/ffelipeaom/freeCodeCamp-python-pandas-numpy/blob/main/fCC_demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/adult.data.csv")

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [5]:
df["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [ ]:
race_count = pd.Series([sum(df["race"] == "White"),
                        sum(df["race"] == "Black"),
                        sum(df["race"] == "Asian-Pac-Islander"),
                        sum(df["race"] == "Amer-Indian-Eskimo"),
                        sum(df["race"] == "Other")],
                        index=['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'])
race_count

# What is the average age of men?

In [7]:
#checking data consistency from sex column
df["sex"].unique()
#df.nunique()
#average_age_men

array(['Male', 'Female'], dtype=object)

In [326]:
average_age_men = round(np.average(df["age"][df["sex"] == "Male"]), 2)
average_age_men

39.43

# What is the percentage of people who have a Bachelor's degree?

In [321]:
#df["education"].count()
#np.count_nonzero(df.education[df.education == "Bachelors"])
percentage_bachelors = round((np.count_nonzero([df["education"] == "Bachelors"]) / len(df["education"]))*100, 2)

#percentage_bachelors = round((np.count_nonzero(df.education[df["education"] == "Bachelors"]) / df["education"].count())*100, 2)
percentage_bachelors

16.45

# What percentage of people with advanced education make more than 50K?
    (`Bachelors`, `Masters`, or `Doctorate`)

In [119]:
df["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [317]:
df_adv_edu = df[(df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")]
#df_adv_edu
higher_education = round(((np.count_nonzero(df_adv_edu["salary"] == ">50K")) / (len(df_adv_edu)))*100,2)       
#higher_education = round(((np.count_nonzero(df_adv_edu["salary"] == ">50K")) / (np.count_nonzero(df_adv_edu["education"])))*100,2)                                   
higher_education

46.54

# What percentage of people without advanced education make more than 50K?

In [316]:
df_non_adv_edu = pd.concat([df, df_adv_edu]).drop_duplicates(keep=False)

#lower_education = round(((np.count_nonzero(df_non_adv_edu["salary"] == ">50K")) / (np.count_nonzero(df_non_adv_edu["education"])))*100,2)
lower_education = round(((np.count_nonzero(df_non_adv_edu["salary"] == ">50K")) / (len(df_non_adv_edu)))*100,2)
lower_education

17.38

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [156]:
min_work_hours = np.min(df["hours-per-week"])
#df["hours-per-week"].idxmin()
#df.iloc[[189]]
min_work_hours

1

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [339]:
np.count_nonzero(df["hours-per-week"] == min_work_hours)

20

In [ ]:
#df_num_min_workers = df[(df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours)]
df_num_min_workers = df[df["hours-per-week"] == min_work_hours]
df_num_min_workers

In [311]:
np.count_nonzero((df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours))
#np.count_nonzero(df["salary"][(df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours)])

2

In [309]:
num_min_workers = round((np.count_nonzero(df_num_min_workers["salary"] == ">50K") / len(df_num_min_workers))*100,2)
#num_min_workers = round(((np.count_nonzero((df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours))) / (np.count_nonzero(df["hours-per-week"] == min_work_hours)))*100,2)
num_min_workers

10.0

# What country has the highest percentage of people that earn >50K?